@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login-container {
    display: flex;

    width: 100vw;
    height: 100vh;
}

.login-wallpaper {}

.login-form-container {
    width: 100%;
    background-color: #FFFFFF;
    padding: 5% 70px 0px 70px;
}

.login-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #181C32;
}
.login-register-container{
    margin-bottom: 70px;
}
.login-register-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;

    color: #A7A8BB;
    padding-right: 10px;
}

.login-register-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;

    color: #3699FF;

}

a:has(.login-register-link) {
    text-decoration: none !important;
}

a:has(.login-register-link):hover {
    text-decoration: underline !important;
    text-decoration-color: #3699FF !important;
}

.login-form-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #181C32;
}

.login-form-input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    padding-left:15px;
    color: #181C32;


    width: 100%;
    height: 70px;
    border: 1.28px solid #E4E6EF;
    border-radius: 15.36px;

    margin-bottom: 25px;
}

.login-form-input:focus {
    outline-color: #3699FF;
}

.login-form-checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom:50px;

}

.login-form-checkbox {
    width: 24px;
    height: 24px;

    background: #3699FF;
    border-radius: 6px;

    cursor: pointer;
    margin-right: 8px;
}

.login-form-checkbox-label {
    font-family: 'Poppins';
    font-style: normal;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #A7A8BB;
}

.login-form-submit {
    height: 61px;
    width: 100%;
    background: #3699FF;
    border-radius: 7.68px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.2px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
}