@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* NAVBAR */
.navbar {
    margin-top: 0px !important;
    color: #FFFFFF;
    padding: 15px 30px 0px 30px;
    background: #181C32;

    display: flex;
    flex-direction: column;
    height: fit-content;
}

.navbar-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-header-user-container {
    display: flex;
    gap: 10px;
}

.navbar-header-username {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    /* identical to box height */

    color: #FFFFFF;
}

.navbar-header-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */

    text-transform: uppercase;

}

.navbar-header-signout-container {
    display: flex;
    gap: 10px;
    cursor:pointer;
}
.navbar-header-signout-container:hover{
    color: #3699FF !important;

}
.navbar-header-signout{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;


}
.navbar-seperator {
    background: #2D2D43 !important;
    border-color: #2D2D43 !important;
    margin: 8px 0px 4px 0px;
    width: 100%;
}

.navbar-navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-navigation-nav {
    display: flex;
    gap: 10px;
}

.navbar-navigation-divs {
    padding: 15px;
    text-decoration: none !important;
    cursor: pointer;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
}
a:has(.navbar-navigation-divs) {
    text-decoration: none !important;
}
.navbar-navigation-divs:hover{
    color:#3699FF;
}
.navbar-navigation-divs.active{
    color:#3699FF;
}
.navbar-navigation-seperator {
    background: #A7A8BB;
    border: none;
    width: 100%;
    margin: 0px !important;
    height: 5px;
}
.navbar-navigation-indicator{
    background-color: #3699FF;
    height: 5px;
    position:absolute;
    width:40px;
}